/* src/App.css */

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assure que le corps prend au moins la hauteur de la fenêtre */
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1; /* Assure que l'application occupe l'espace disponible */
}
